<configuration>

  <appender name="file" class="ch.qos.logback.core.FileAppender">
    <file>syslog.log</file>
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>

  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
      </pattern>
    </encoder>
  </appender>

  <appender name="async" class="reactor.logback.AsyncAppender">
    <backlog>1024</backlog>
    <appender-ref ref="file"/>
  </appender>

  <logger name="syslog" level="info">
    <appender-ref ref="async"/>
  </logger>

  <root level="info">
    <appender-ref ref="async"/>
  </root>

</configuration>