#code {

  .gist {
    font-size: 16px;
    color: #333;
    direction: ltr;
    text-align: left
  }

  .gist .markdown-body {
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    word-wrap: break-word
  }

  .gist .markdown-body > *:first-child {
    margin-top: 0 !important
  }

  .gist .markdown-body > *:last-child {
    margin-bottom: 0 !important
  }

  .gist .markdown-body a:not([href]) {
    color: inherit;
    text-decoration: none
  }

  .gist .markdown-body .absent {
    color: #c00
  }

  .gist .markdown-body .anchor {
    display: inline-block;
    padding-right: 2px;
    margin-left: -18px
  }

  .gist .markdown-body .anchor:focus {
    outline: none
  }

  .gist .markdown-body h1, .gist .markdown-body h2, .gist .markdown-body h3, .gist .markdown-body h4, .gist .markdown-body h5, .gist .markdown-body h6 {
    margin-top: 1em;
    margin-bottom: 16px;
    font-weight: bold;
    line-height: 1.4
  }

  .gist .markdown-body h1 .octicon-link, .gist .markdown-body h2 .octicon-link, .gist .markdown-body h3 .octicon-link, .gist .markdown-body h4 .octicon-link, .gist .markdown-body h5 .octicon-link, .gist .markdown-body h6 .octicon-link {
    color: #000;
    vertical-align: middle;
    visibility: hidden
  }

  .gist .markdown-body h1:hover .anchor, .gist .markdown-body h2:hover .anchor, .gist .markdown-body h3:hover .anchor, .gist .markdown-body h4:hover .anchor, .gist .markdown-body h5:hover .anchor, .gist .markdown-body h6:hover .anchor {
    text-decoration: none
  }

  .gist .markdown-body h1:hover .anchor .octicon-link, .gist .markdown-body h2:hover .anchor .octicon-link, .gist .markdown-body h3:hover .anchor .octicon-link, .gist .markdown-body h4:hover .anchor .octicon-link, .gist .markdown-body h5:hover .anchor .octicon-link, .gist .markdown-body h6:hover .anchor .octicon-link {
    visibility: visible
  }

  .gist .markdown-body h1 tt, .gist .markdown-body h1 code, .gist .markdown-body h2 tt, .gist .markdown-body h2 code, .gist .markdown-body h3 tt, .gist .markdown-body h3 code, .gist .markdown-body h4 tt, .gist .markdown-body h4 code, .gist .markdown-body h5 tt, .gist .markdown-body h5 code, .gist .markdown-body h6 tt, .gist .markdown-body h6 code {
    font-size: inherit
  }

  .gist .markdown-body h1 {
    padding-bottom: 0.3em;
    font-size: 2.25em;
    line-height: 1.2;
    border-bottom: 1px solid #eee
  }

  .gist .markdown-body h1 .anchor {
    line-height: 1
  }

  .gist .markdown-body h2 {
    padding-bottom: 0.3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #eee
  }

  .gist .markdown-body h2 .anchor {
    line-height: 1
  }

  .gist .markdown-body h3 {
    font-size: 1.5em;
    line-height: 1.43
  }

  .gist .markdown-body h3 .anchor {
    line-height: 1.2
  }

  .gist .markdown-body h4 {
    font-size: 1.25em
  }

  .gist .markdown-body h4 .anchor {
    line-height: 1.2
  }

  .gist .markdown-body h5 {
    font-size: 1em
  }

  .gist .markdown-body h5 .anchor {
    line-height: 1.1
  }

  .gist .markdown-body h6 {
    font-size: 1em;
    color: #777
  }

  .gist .markdown-body h6 .anchor {
    line-height: 1.1
  }

  .gist .markdown-body p, .gist .markdown-body blockquote, .gist .markdown-body ul, .gist .markdown-body ol, .gist .markdown-body dl, .gist .markdown-body table, .gist .markdown-body pre {
    margin-top: 0;
    margin-bottom: 16px
  }

  .gist .markdown-body hr {
    height: 4px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none
  }

  .gist .markdown-body ul, .gist .markdown-body ol {
    padding-left: 2em
  }

  .gist .markdown-body ul.no-list, .gist .markdown-body ol.no-list {
    padding: 0;
    list-style-type: none
  }

  .gist .markdown-body ul ul, .gist .markdown-body ul ol, .gist .markdown-body ol ol, .gist .markdown-body ol ul {
    margin-top: 0;
    margin-bottom: 0
  }

  .gist .markdown-body li > p {
    margin-top: 16px
  }

  .gist .markdown-body dl {
    padding: 0
  }

  .gist .markdown-body dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: bold
  }

  .gist .markdown-body dl dd {
    padding: 0 16px;
    margin-bottom: 16px
  }

  .gist .markdown-body blockquote {
    padding: 0 15px;
    color: #777;
    border-left: 4px solid #ddd
  }

  .gist .markdown-body blockquote > :first-child {
    margin-top: 0
  }

  .gist .markdown-body blockquote > :last-child {
    margin-bottom: 0
  }

  .gist .markdown-body table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all
  }

  .gist .markdown-body table th {
    font-weight: bold
  }

  .gist .markdown-body table th, .gist .markdown-body table td {
    padding: 6px 13px;
    border: 1px solid #ddd
  }

  .gist .markdown-body table tr {
    border-top: 1px solid #ccc
  }

  .gist .markdown-body table tr:nth-child(2n) {
    background-color: #f8f8f8
  }

  .gist .markdown-body img {
    max-width: 100%;
    box-sizing: border-box;
    background-color: red;
  }

  .gist .markdown-body img[align=right] {
    padding-left: 20px
  }

  .gist .markdown-body img[align=left] {
    padding-right: 20px
  }

  .gist .markdown-body .emoji {
    max-width: none
  }

  .gist .markdown-body span.frame {
    display: block;
    overflow: hidden
  }

  .gist .markdown-body span.frame > span {
    display: block;
    float: left;
    width: auto;
    padding: 7px;
    margin: 13px 0 0;
    overflow: hidden;
    border: 1px solid #ddd
  }

  .gist .markdown-body span.frame span img {
    display: block;
    float: left
  }

  .gist .markdown-body span.frame span span {
    display: block;
    padding: 5px 0 0;
    clear: both;
    color: #333
  }

  .gist .markdown-body span.align-center {
    display: block;
    overflow: hidden;
    clear: both
  }

  .gist .markdown-body span.align-center > span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: center
  }

  .gist .markdown-body span.align-center span img {
    margin: 0 auto;
    text-align: center
  }

  .gist .markdown-body span.align-right {
    display: block;
    overflow: hidden;
    clear: both
  }

  .gist .markdown-body span.align-right > span {
    display: block;
    margin: 13px 0 0;
    overflow: hidden;
    text-align: right
  }

  .gist .markdown-body span.align-right span img {
    margin: 0;
    text-align: right
  }

  .gist .markdown-body span.float-left {
    display: block;
    float: left;
    margin-right: 13px;
    overflow: hidden
  }

  .gist .markdown-body span.float-left span {
    margin: 13px 0 0
  }

  .gist .markdown-body span.float-right {
    display: block;
    float: right;
    margin-left: 13px;
    overflow: hidden
  }

  .gist .markdown-body span.float-right > span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: right
  }

  .gist .markdown-body code, .gist .markdown-body tt {
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 3px
  }

  .gist .markdown-body code:before, .gist .markdown-body code:after, .gist .markdown-body tt:before, .gist .markdown-body tt:after {
    letter-spacing: -0.2em;
    content: "\00a0"
  }

  .gist .markdown-body code br, .gist .markdown-body tt br {
    display: none
  }

  .gist .markdown-body del code {
    text-decoration: inherit
  }

  .gist .markdown-body pre > code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0
  }

  .gist .markdown-body .highlight {
    margin-bottom: 16px
  }

  .gist .markdown-body .highlight pre, .gist .markdown-body pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px
  }

  .gist .markdown-body .highlight pre {
    margin-bottom: 0;
    word-break: normal
  }

  .gist .markdown-body pre {
    word-wrap: normal
  }

  .gist .markdown-body pre code, .gist .markdown-body pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0
  }

  .gist .markdown-body pre code:before, .gist .markdown-body pre code:after, .gist .markdown-body pre tt:before, .gist .markdown-body pre tt:after {
    content: normal
  }

  .gist .markdown-body kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb
  }

  .gist .pl-c {
    color: #b99551;
  }

  .gist .pl-c1, .gist .pl-s .pl-v {
    color: #00abe5
  }

  .gist .pl-e, .gist .pl-en {
    color: #795da3
  }

  .gist .pl-s .pl-s1, .gist .pl-smi {
    color: #333
  }

  .gist .pl-ent {
    color: #63a35c
  }

  .gist .pl-k {
    color: #eb006d
  }

  .gist .pl-pds, .gist .pl-s, .gist .pl-s .pl-pse .pl-s1, .gist .pl-sr, .gist .pl-sr .pl-cce, .gist .pl-sr .pl-sra, .gist .pl-sr .pl-sre {
    color: #0038e1
  }

  .gist .pl-v {
    color: #ed6a43
  }

  .gist .pl-id {
    color: #b52a1d
  }

  .gist .pl-ii {
    background-color: #b52a1d;
    color: #f8f8f8
  }

  .gist .pl-sr .pl-cce {
    color: #63a35c;
    font-weight: bold
  }

  .gist .pl-ml {
    color: #693a17
  }

  .gist .pl-mh, .gist .pl-mh .pl-en, .gist .pl-ms {
    color: #1d3e81;
    font-weight: bold
  }

  .gist .pl-mq {
    color: #008080
  }

  .gist .pl-mi {
    color: #333;
    font-style: italic
  }

  .gist .pl-mb {
    color: #333;
    font-weight: bold
  }

  .gist .pl-md {
    background-color: #ffecec;
    color: #bd2c00
  }

  .gist .pl-mi1 {
    background-color: #eaffea;
    color: #55a532
  }

  .gist .pl-mdr {
    color: #795da3;
    font-weight: bold
  }

  .gist .pl-mo {
    color: #1d3e81
  }

  .gist .breadcrumb {
    margin-bottom: 10px;
    font-size: 18px;
    color: #767676
  }

  .gist .breadcrumb .separator:before, .gist .breadcrumb .separator:after {
    content: " "
  }

  .gist .breadcrumb strong.final-path {
    color: #000
  }

  .gist .breadcrumb .zeroclipboard-button {
    display: inline-block;
    margin-left: 5px
  }

  .gist .breadcrumb .repo-root {
    font-weight: bold
  }

  .gist .editor-license-template, .gist .editor-gitignore-template {
    position: relative;
    top: 3px;
    display: none;
    float: right;
    font-size: 14px
  }

  .gist .editor-license-template.is-visible, .gist .editor-gitignore-template.is-visible {
    display: block
  }

  .gist .editor-license-template .select-menu-git-ignore, .gist .editor-license-template .select-menu-license-picker, .gist .editor-gitignore-template .select-menu-git-ignore, .gist .editor-gitignore-template .select-menu-license-picker {
    right: 0
  }

  .gist .editor-abort {
    display: inline;
    font-size: 14px
  }

  .gist .blob-interaction-bar {
    position: relative;
    background-color: #f2f2f2;
    border-bottom: 1px solid #e5e5e5
  }

  .gist .blob-interaction-bar:before {
    display: table;
    content: ""
  }

  .gist .blob-interaction-bar:after {
    display: table;
    clear: both;
    content: ""
  }

  .gist .blob-interaction-bar .octicon-search {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 12px;
    color: #767676
  }

  .gist input.blob-filter {
    padding: 4px 20px 5px 30px;
    width: 100%;
    font-size: 12px;
    border: 0;
    border-radius: 0;
    outline: none
  }

  .gist input.blob-filter:focus {
    outline: none
  }

  .gist .html-blob {
    margin-bottom: 15px
  }

  .gist .blob-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px
  }

  .gist .diff-table {
    width: 100%;
    border-collapse: separate
  }

  .gist .diff-table .line-comments {
    padding: 10px;
    vertical-align: top
  }

  .gist .diff-table .line-comments:first-child + .empty-cell {
    border-left-width: 1px
  }

  .gist .diff-table tr:not(:last-child) .line-comments {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee
  }

  .gist .blob-num {
    width: 1%;
    min-width: 50px;
    white-space: nowrap;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
    vertical-align: top;
    text-align: right;
    border: solid #eee;
    border-width: 0 1px 0 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 10px;
    padding-right: 10px
  }

  .gist .blob-num:hover {
    color: rgba(0, 0, 0, 0.6)
  }

  .gist .blob-num:before {
    content: attr(data-line-number)
  }

  .gist .blob-num.non-expandable {
    cursor: default
  }

  .gist .blob-num.non-expandable:hover {
    color: rgba(0, 0, 0, 0.3)
  }

  .gist .blob-code {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: top
  }

  .gist .blob-code-inner {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
    color: #333;
    white-space: pre;
    overflow: visible;
    word-wrap: normal
  }

  .gist .blob-code-inner .x-first {
    border-top-left-radius: 0.2em;
    border-bottom-left-radius: 0.2em
  }

  .gist .blob-code-inner .x-last {
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em
  }

  .gist .soft-wrap .diff-table {
    table-layout: fixed
  }

  .gist .soft-wrap .blob-code {
    padding-left: 18px;
    text-indent: -7px
  }

  .gist .soft-wrap .blob-code-inner {
    word-wrap: break-word;
    white-space: pre-wrap
  }

  .gist .soft-wrap .no-nl-marker {
    display: none
  }

  .gist .soft-wrap .add-line-comment {
    margin-left: -28px
  }

  .gist .blob-num-hunk, .gist .blob-code-hunk, .gist .blob-num-expandable, .gist .blob-code-expandable {
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.3);
    border-color: #d2dff0
  }

  .gist .blob-num-hunk, .gist .blob-num-expandable {
    background-color: #edf2f9
  }

  .gist .blob-code-hunk, .gist .blob-code-expandable {
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #f4f7fb;
    border-width: 1px 0
  }

  .gist .blob-expanded .blob-num, .gist .blob-expanded .blob-code {
    background-color: #fafafa
  }

  .gist .blob-expanded + tr:not(.blob-expanded) .blob-num, .gist .blob-expanded + tr:not(.blob-expanded) .blob-code {
    border-top: 1px solid #eee
  }

  .gist .blob-expanded .blob-num-hunk {
    border-top: 1px solid #eee
  }

  .gist tr:not(.blob-expanded) + .blob-expanded .blob-num, .gist tr:not(.blob-expanded) + .blob-expanded .blob-code {
    border-top: 1px solid #eee
  }

  .gist .blob-num-expandable {
    padding: 0;
    font-size: 12px;
    text-align: center
  }

  .gist .blob-num-expandable .diff-expander {
    display: block;
    width: auto;
    height: auto;
    margin-right: -1px;
    padding: 4px 11px 4px 10px;
    cursor: pointer;
    color: #767676
  }

  .gist .blob-num-expandable .diff-expander:hover {
    color: #fff;
    text-shadow: none;
    background-color: #4078c0;
    border-color: #4078c0
  }

  .gist .blob-code-addition {
    background-color: #eaffea
  }

  .gist .blob-code-addition .x {
    background-color: #a6f3a6
  }

  .gist .blob-num-addition {
    background-color: #dbffdb;
    border-color: #c1e9c1
  }

  .gist .blob-code-deletion {
    background-color: #ffecec
  }

  .gist .blob-code-deletion .x {
    background-color: #f8cbcb
  }

  .gist .blob-num-deletion {
    background-color: #ffdddd;
    border-color: #f1c0c0
  }

  .gist .selected-line.blob-code {
    background-color: #f8eec7
  }

  .gist .selected-line.blob-code .x {
    background-color: transparent
  }

  .gist .selected-line.blob-num {
    background-color: #f6e8b5;
    border-color: #f0db88
  }

  .gist .add-line-comment {
    position: relative;
    z-index: 5;
    float: left;
    width: 20px;
    height: 20px;
    margin: -1px -10px -1px -20px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    text-indent: 0;
    cursor: pointer;
    background-color: #4078c0;
    background-image: -webkit-linear-gradient(#5386c6, #4078c0);
    background-image: linear-gradient(#5386c6, #4078c0);
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    opacity: 0;
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
    -webkit-transition: -webkit-transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out
  }

  .gist .add-line-comment:hover {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1)
  }

  .is-hovered .gist .add-line-comment {
    opacity: 1
  }

  .gist .add-line-comment.octicon-check {
    opacity: 1;
    background: #333
  }

  .gist .inline-comment-form {
    border: 1px solid #ddd;
    border-radius: 3px
  }

  .gist .inline-review-comment {
    margin-top: 0 !important;
    margin-bottom: 10px !important
  }

  .gist .inline-review-comment .gc:first-child + tr .blob-num, .gist .inline-review-comment .gc:first-child + tr .blob-code {
    padding-top: 5px
  }

  .gist .inline-review-comment tr:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px
  }

  .gist .inline-review-comment tr:last-child .blob-num, .gist .inline-review-comment tr:last-child .blob-code {
    padding-bottom: 8px
  }

  .gist .inline-review-comment tr:last-child .blob-num:first-child, .gist .inline-review-comment tr:last-child .blob-code:first-child {
    border-bottom-left-radius: 2px
  }

  .gist .inline-review-comment tr:last-child .blob-num:last-child, .gist .inline-review-comment tr:last-child .blob-code:last-child {
    border-bottom-right-radius: 2px
  }

  .gist .timeline-inline-comments {
    width: 100%;
    table-layout: fixed
  }

  .gist .timeline-inline-comments .inline-comments, .gist .show-inline-notes .inline-comments {
    display: table-row
  }

  .gist .inline-comments {
    display: none
  }

  .gist .inline-comments.is-collapsed {
    display: none
  }

  .gist .inline-comments .line-comments.is-collapsed {
    visibility: hidden
  }

  .gist .inline-comments .line-comments + .blob-num {
    border-left-width: 1px
  }

  .gist .inline-comments .timeline-comment {
    margin-bottom: 10px
  }

  .gist .inline-comments .inline-comment-form, .gist .inline-comments .inline-comment-form-container {
    max-width: 780px
  }

  .gist .inline-comments .ajax-indicator {
    display: none;
    vertical-align: bottom
  }

  .gist .inline-comments form.loading .ajax-indicator {
    display: inline-block
  }

  .gist .inline-comments .comment-resolved-by {
    margin-left: 10px
  }

  .gist .inline-comments .comment-resolved-by .username {
    font-weight: bold;
    color: #333
  }

  .gist .comment-holder {
    max-width: 780px
  }

  .gist .line-comments + .line-comments, .gist .empty-cell + .line-comments {
    border-left: 1px solid #eee
  }

  .gist .inline-comment-form-container .inline-comment-form, .gist .inline-comment-form-container.open .inline-comment-form-actions {
    display: none
  }

  .gist .inline-comment-form-container .inline-comment-form-actions, .gist .inline-comment-form-container.open .inline-comment-form {
    display: block
  }

  .gist body.split-diff .container {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px
  }

  .gist body.split-diff .repository-with-sidebar {
    padding-right: 60px
  }

  .gist body.split-diff .repository-with-sidebar .repository-sidebar {
    margin-right: -60px
  }

  .gist body.split-diff .repository-content {
    width: 100%
  }

  .gist body.split-diff .new-pr-form {
    max-width: 980px
  }

  .gist body.split-diff .new-pr-form .discussion-sidebar {
    width: 200px
  }

  .gist .file-diff-split {
    table-layout: fixed
  }

  .gist .file-diff-split .blob-code + .blob-num {
    border-left-width: 1px
  }

  .gist .file-diff-split .blob-code-inner {
    white-space: pre-wrap;
    word-wrap: break-word
  }

  .gist .file-diff-split .empty-cell {
    cursor: default;
    background-color: #fafafa;
    border-right-color: #eee
  }

  .gist .highlight {
    border: 0;
    padding: 0;
    margin: 0;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.4;
    color: #333;
  }

  .gist .render-viewer-error, .gist .render-viewer-fatal, .gist .render-viewer-invalid, .gist .octospinner {
    display: none
  }

  .gist iframe.render-viewer {
    width: 100%;
    height: 480px;
    border: 0;
    overflow: hidden
  }

  .gist pre, .gist code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
    white-space: pre
  }

  .gist .gist-meta {
    padding: 10px;
    overflow: hidden;
    font: 12px Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    color: #b1bac0;
    background-color: $reactorTextColor;
  }

  .gist .gist-meta a {
    font-weight: bold;
    color: $reactorPrimary;
    text-decoration: none;
    border: 0
  }

  .gist .gist-meta a:hover {
    text-decoration: underline;
  }

  .gist .gist-data {
    overflow: auto;
    word-wrap: normal;
    background-color: rgba(255, 255, 255, .7);
  }

  .gist .gist-file {
    margin-bottom: 1em;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    border-radius: 3px;
    border: 0 none;
    
  }

  .gist .gist-file article {
    padding: 6px
  }

  .gist .gist-file .scroll .gist-data {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 30px;
    left: 0;
    overflow: scroll
  }

  .gist .gist-file .scroll .gist-meta {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0
  }

  .gist .blob-num {
    min-width: inherit;
    padding: 1px 10px !important;
    background: transparent
  }

  .gist .blob-code {
    border: 0;
    padding: 1px 10px !important;
    background: transparent;
    text-align: left
  }

  .gist .blob-wrapper table {
    border-collapse: collapse
  }

  .gist .blob-wrapper tr:first-child td {
    padding-top: 20px !important;
  }

  .gist .blob-wrapper tr:last-child td {
    padding-bottom: 20px !important;
  }
}