
// Sidebar
#sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  bottom: 0;
  background: $reactorBackgroundLight;

  ul {
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      list-style: none;
      a {
        text-transform: uppercase;
        color: rgba(255,255,255,.2);
        font-weight: bold;
        font-size: 0.9em;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}