
// Sidebar
#sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 180px;
  bottom: 0;
  background: $reactorBackgroundLight;

  ul {
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      list-style: none;
      a {
        text-transform: uppercase;
        color: rgba(255,255,255,.4);
        font-weight: bold;
        font-size: 0.8em;
        text-decoration: none;
        cursor: pointer;
        display: block;
        position: relative;
        padding: 0.5em 0.7em;
        padding-left: 36px;
        span.fa {
          display: block;
          position: absolute;
          left: 12px;
          top: 11px;
        }
        &:hover {
          color: white;
          background-color: rgba(255, 255, 255, 0.05);
        }
        &.active, &.active:hover {
          color: white;
          background: $reactorPrimary;
        }
      }
    }
  }
}